:root {
  background-color: #23272f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

body {
  /* width: 100%; */
  width: calc(100%-250px);
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 250px;
}

li {
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
